:root {
    --primary-color: #F1AF60;
    --light-calculator: #FFF0D2;
    --bg-color-invested: #111;
    --bg-color: #eeeeee;
    --gray-color: #847D6A;
    --primary-button-color: #533D28;
    --secundary-button-color: #FFE3A9;
    --terciary-button-color: #F5CE9F;
    --dark-bg: #111111;
    --dark-calculator: #333333;
    --dark-font: #000000;
    --light-font: #eeeeee;
    --transicion: background-color ease .3s;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: var(--transicion);
}

body{
    height: 100dvh;
    width: 100vw;
    background-color: var(--bg-color);
    font-family: 'roboto';
    display: grid;
    place-content: center;
    transition: all ease .3s;
}

.dark{
    background-color: var(--dark-bg);
}

button{
    cursor: pointer;
}

.calculator__button:hover{
    scale: 1.1;
}


.calculator{
    background-color: var(--light-calculator);
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.dark .calculator{
    background-color: var(--dark-calculator);
}



/* -----HEADER----- */

.calculator__header{
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid var(--dark-font);
    color: var(--dark-font);
}

.dark .calculator__header{
    color: var(--light-font);
    border-bottom-color: var(--light-font);
}

.switch-theme__btn{
    font-size: .7em;
    color: var(--light-calculator);
    width: 18%;
    background-color: var(--light-calculator);
    opacity: 1;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
}

.dark .switch-theme__btn{
    background-color: var(--dark-calculator);
}

.switch-theme__btn div {
    height: 100%;
    width: 1.5rem;
    padding: 3px 6px;
    background-color: var(--primary-color);
    border-radius: 8px;
    transform: translateX(-10%);
    line-height: .7rem;
    transition: transform ease .5s;
}

.dark .switch-theme__btn > div {
    transform: translateX(82%);
    transition: transform ease .5s;
}

#light-icon{
    display: inline-block;
}

.dark #light-icon{
    display: none;
}

#dark-icon{
display: none;
}
.dark #dark-icon{
    display: inline-block;
}

.calculator__display{
    height: 80px;
    text-align: right;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.display__top{
    color: var(--gray-color);
}

.display__bottom span{
    font-size: 2rem;
    font-weight: 500;
}

/* -----CALCULATOR BODY----- */

.calculator__body{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
}

.calculator__options{
    display: flex;
    justify-content: space-between;
    padding: 11px 0;
}

.calculator__options button{
    color: var(--primary-color);
    background-color: transparent;
    border: none;
}
.calculator__options button:hover{
    opacity: 0.8;
}

.calculator__buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 9px;
}


.calculator__button{
    background-color: var(--terciary-button-color);
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 3px;
    font-weight: 700;
    color: var(--dark-font);
}
.dark .calculator__button{
    color: var(--light-font);
    background-color: var(--primary-button-color);
}

#clean, #parenthesis, #percentage{
    background-color: var(--secundary-button-color);
}
.dark #clean, .dark #parenthesis, .dark #percentage{
    background-color: var(--gray-color);
}

#division, #multiply, #subtract, #add, #equal{
    background-color: var(--primary-color);
}

@media screen and (max-width : 500px) {
    :root{
        font-size: 22px;
    }
    
    body{
        display: block;
        padding: 20px;
    }
    .calculator{
        width: 100%;
        
    }

    .switch-theme__btn{
        width: 19%;
    }

    .switch-theme__btn div {
        padding: 5px 8px;
        border-radius: 12px;
        transform: translateX(-10%);
        line-height: .7rem;
        transition: transform ease .5s;
    }
    .dark .switch-theme__btn > div {
        transform: translateX(85%);
        transition: transform ease 1s;
    }
}